<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注册student -->
     <bean id="myStudent" class="com.bjpowernode.di03_02.Student"
     c:name="张三" c:age="13" c:school-ref="myShool"/>
    	
    <!-- 注册school -->
     <bean id="myShool" class="com.bjpowernode.di03_02.School">
     <property name="name" value="上海大学"></property>
     </bean>

</beans>