<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注册student -->
    <bean id="myBase"  abstract="true">
     	<property name="school" ref="myShool"></property> 
     	<property name="department" value="计算机"></property> 
     </bean>
    
     <bean id="myStudent1" class="com.bjpowernode.di08.Student" parent="myBase">
     	<property name="name" value="张三"></property>
     	<property name="age" value="21"></property>
     </bean>
     
      <bean id="myTeacher" class="com.bjpowernode.di08.Student" parent="myBase">
     	<property name="name" value="李老师"></property>
     	<property name="age" value="24"></property>
     </bean>
    <!-- 注册school -->
     <bean id="myShool" class="com.bjpowernode.di08.School">
     <property name="name" value="上海大学"></property>
     </bean>

</beans>